@import "./font/iconfont/iconfont.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei",sans-serif;
}

.am-tab-bar {
  position: sticky;
  bottom: 0;
  i {
    font-size: 150%;
  }
}
